.page-header
  .btn-toolbar.pull-right
    = link_to_if can?(:create, Sale), t('helpers.links.new', :default => 'New', gender: 'female') + ' ' + t('activerecord.models.sale.one', default: 'Sale'), new_sale_path, :class => 'btn btn-primary'
    = link_to_if can?(:create, Taking) && !Rails.env.demo?, t('helpers.links.new', :default => 'New', gender: 'male') + ' ' + t('activerecord.models.taking.one', default: 'Taking'), new_taking_path, :class => 'btn btn-warning'
  %h1= t("Dashboard", default: "Dashboard")

- if can?(:read, Sale)
  .row-fluid
    .span6
      = pie_chart(SaleItem::by_product(for_chart: true, stores: current_user.managed_stores.active), library: { title: t('activerecord.models.sale.many', default: 'Sales') + ' ' + t('by product', default: 'by product') + ': ' + t('last number of days', default: 'last 90 days', count: 90)})
    .span6
      = pie_chart(SaleItem::by_category(for_chart: true, stores: current_user.managed_stores.active), library: { title: t('activerecord.models.sale.many', default: 'Sales') + ' ' + t('by category', default: 'by category') + ': ' + t('last number of days', default: 'last 90 days', count: 90) })

  .row-fluid
    .span6
      = line_chart(Sale.by_day(for_chart: true, stores: current_user.managed_stores.where(active: true)), library: { pointSize: 3, title: t('activerecord.models.sale.many', default: 'Sales') + ': ' + t('last number of days', default: 'last 30 days', count: 30)})
    .span6
      = column_chart(Sale.by_month(agregate: :sum, for_chart: true, stores: current_user.managed_stores.where(active: true)), library: { title: t('activerecord.models.sale.many', default: 'Sales') + ': ' + t('last number of months', default: 'last 12 months', count: 12), isStacked: true })
.row-fluid
  .span6
    = column_chart(SaleReceipt.by_hour(for_chart: true, stores: current_user.managed_stores.where(active: true)), library: { title: t('activerecord.models.sale.many', default: 'Sales') + ' ' + t('by hours', default: 'by hours') + ': ' + t('last number of days', default: 'last 30 days', count: 30)})
  .span6
    = column_chart(Sale.by_day_of_week(for_chart: true, stores: current_user.managed_stores.where(active: true)), library: { title: t('activerecord.models.sale.many', default: 'Sales') + ' ' + t('by day of week', default: 'by day of week') + ': ' + t('last number of days', default: 'last 90 days', count: 90)})