= semantic_form_for @sale_receipt, html: { class: 'form-horizontal' } do |f|
  = f.inputs do
    = f.input :id
    = f.input :sale_id
    = f.input :number
    = f.input :datetime
    = f.input :value
    = f.input :net_value
    = f.input :cancelled
    = f.input :salesman_id
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t("cancel")
