= semantic_form_for @user, html: { class: 'form-horizontal' } do |f|
  = f.inputs do
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :current_store_id, as: :select, collection: Store.all.map{ |s| [s.symbol, s.id] }
    = f.input :active, as: :boolean
    %ul.nav.nav-tabs
      %li.active= link_to t('.roles', default: [:'activerecord.attributes.user.roles', 'Roles'])
    #roles
      = f.inputs for: :roles do |role|
        = render 'role_fields', f: role
      .links
        = link_to_add_association t('.add_role', default: [:'add_role', 'Add Role to User']), f, :roles
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t('.cancel', default: t('helpers.links.cancel'))
