= semantic_form_for @product_alias, html: { class: 'form-horizontal' }, remote: true do |f|
  = f.inputs do
    = f.input :product_id, as: :select, collection: to_dropdown(:products), input_html: { disabled: @product_alias.product_id.present? }, include_blank: false
    = f.input :product_id, as: :hidden if @product_alias.product_id.present?
    = f.input :alias, input_html: { autofocus: true }
    = hidden_field_tag :referer, params[:referer]
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t('.cancel', default: t('helpers.links.cancel'))
