= semantic_form_for @<%= singular_name %>, html: { class: 'form-horizontal' }, remote: true do |f|
  = f.inputs do
  <%- attributes.each do |attribute| -%>
    = f.input :<%= attribute.name %>
  <%- end -%>
    = hidden_field_tag :referer, params[:referer]
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t('.cancel', default: t('helpers.links.cancel'))
