= semantic_form_for @unit, html: { class: 'form-horizontal' } do |f|
  = f.inputs do
    = f.input :symbol
    = f.input :name
    = f.input :primary
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t('.cancel', default: t('helpers.links.cancel'))
