= semantic_form_for Sale.new, html: { class: 'form-horizontal', multipart: true } do |f|
  = f.inputs do
    - last_sale = Sale.where(store_id: current_user.current_store_id).order('date DESC').first
    - if last_sale.present?
      - hint = t('Last sale', default: 'Last sale') + ': <strong>' + last_sale.number.to_s + '</strong> ' + t('from', default: 'from') + ' ' + last_sale.date.to_s
    - else
      - hint = ''
    = f.input :files, hint: hint.html_safe, as: :file, label: t('Choose file', default: 'Choose file'), input_html: { name: 'files[]', required: true, multiple: true }
    = hidden_field_tag :referer, params[:referer]
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t('.cancel', default: t('helpers.links.cancel'))