= semantic_form_for @sale, html: { class: 'form-horizontal', multipart: true } do |f|
  = f.inputs do
    = f.input :date, as: :hidden
    = f.input :file, as: :file, required: true
    = hidden_field_tag :referer, params[:referer]
  
  = f.actions do
    = f.action :submit, :as => :input, button_html: { class: 'btn btn-primary' }
    = f.action :cancel, label: t('.cancel', default: t('helpers.links.cancel'))
