!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "CRP"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"
  
  - if user_signed_in?
    %body
      .navbar.navbar-fixed-top
        .navbar-inner
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to image_tag("logo_star.png"), locale_root_path, class: 'pull-left', style: 'margin: 5px 10px 5px 0;'
          .nav-collapse
            = menu_group do
              - if can?(:read, Taking) || can?(:read, Sale) || can?(:read, SaleReceipt) || can?(:read, SaleItem)
                = drop_down t('Sales', default: 'Sales') do 
                  = menu_item t('activerecord.models.taking.few', default: 'Takings'), takings_path if can?(:read, Taking) && !Rails.env.demo?
                  = menu_item t('activerecord.models.sale.few', default: 'Sales'), sales_path if can?(:read, Sale)
                  = drop_down_divider if can?(:read, SaleReceipt) || can?(:read, SaleItem)
                  = menu_item t('activerecord.models.sale_receipt.few', default: 'Sale Receipts'), sale_receipts_path if can?(:read, SaleReceipt)
                  = menu_item t('activerecord.models.sale_item.few', default: 'Sale Items'), sale_items_path if can?(:read, SaleItem)
                  = drop_down_divider if can?(:manage, ProductAlias)
                  = menu_item t('Unrecognized products', default: 'Unrecognized products'), unrecognized_products_path if can?(:manage, ProductAlias)
              - if can?(:read, Product) || can?(:read, ProductPrice) || can?(:read, ProductAlias) || can?(:read, ProductCategory) || can?(:read, Unit) || can?(:read, VatRate)
                = drop_down t('Products', default: 'Products') do
                  = menu_item t('activerecord.models.product.few', default: 'Products'), products_path if can?(:read, Product)
                  = menu_item t('activerecord.models.product_price.few', default: 'Product Prices'), product_prices_path if can?(:read, ProductPrice)
                  = menu_item t('activerecord.models.product_alias.few', default: 'Product Aliases'), product_aliases_path if can?(:read, ProductAlias)
                  = drop_down_divider if can?(:read, ProductCategory) || can?(:read, Unit) || can?(:read, VatRate)
                  = menu_item t('activerecord.models.product_category.few', default: 'Product Categories'), product_categories_path if can?(:read, ProductCategory)
                  = menu_item t('activerecord.models.unit.few', default: 'Units'), units_path if can?(:read, Unit)
                  = menu_item t('activerecord.models.vat_rate.few', default: 'Vat Rates'), vat_rates_path if can?(:read, VatRate)
              - if can?(:read, User) || can?(:read, Store) || can?(:read, Role) || can?(:read, DatabaseReset)
                = drop_down t(:administration, default: 'Administration') do
                  = menu_item t('activerecord.models.user.few', default: 'Users'), users_path if can?(:read, User)
                  = menu_item t('activerecord.models.store.few', default: 'Stores'), stores_path if can?(:read, Store)
                  = drop_down_divider if can?(:read, Role) || can?(:read, DatabaseReset)
                  = menu_item t('activerecord.models.role.few', default: 'Roles'), roles_path if can?(:read, Role)
                  = menu_item t('activerecord.models.database_reset.few', default: 'Database Resets'), database_resets_path if can?(:read, DatabaseReset)
                
            = menu_group pull: :right do
              = render 'session/user_panel'
  
      .container-fluid
        .row-fluid
          = bootstrap_flash
          = yield
          = render 'layouts/footer'
  - else
    %body.no-layout
      %div{ class: "container #{@container_class}" }
        = bootstrap_flash
        = yield
        = render 'layouts/footer'
  #modal-window.modal.hide.fade
  :javascript
    var locale = "#{I18n.locale}";